footer {
    background-color: #1b1b1b;
    .para-a {
        font-size: 40px;
    }
    .para-b {
        font-size: 30px;
    }
    .para-c {
        font-size: 36px;
    }
}

.footer-logo {
    .h1a {
        font-size: 68px;
        margin: 0;
    }
    .h1b {
        font-size: 80px;
        margin: 0;
    }
}