
body {
  margin: 0;
  width: 100%;
  min-width: 100%;
}

input[type="button"]
{
    border: none;
    outline:none;
}

button {
  transition: 300ms ease-in;
  &:focus {
    outline: none !important;
  }
}

a {
  text-decoration: none;
  &:hover {
    color: white;
  }
}

section {
  min-height: 100%; 
  height: auto !important; 
  height: 100%;
}

main {
  z-index: 20;
  margin-bottom: 26rem;
  @media only screen and (min-width: 1024px) {
    margin-bottom: 33.625rem;
  }
}
.overflow-y-hidden {
  overflow-y: hidden;
}

// HELPERS

body {
  background-color: #f3f3f3;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .responsive-img{
     width: 100%; 
     position: relative; 
    img{ 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
        object-fit: cover; 
        width: 100%;
        height: 100%;
    }
}

.invisible {
  visibility: hidden;
}

//BUTTON STYLES

@mixin btn {
  display: inline-flex; 
  text-align: center; 
  position: relative; 
  text-transform: uppercase;
  padding: 0.5rem 1rem 0.5rem 1.8rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  align-items: center;
  font-weight: 100;
  @media only screen and (min-width: 1024px) {
    font-size: 0.9375rem;
    padding: 5px 15px;
  }
}

.btn {
  @include btn;
}

.btn--primary {
  border: solid 0.15rem #988468;
  color: #988468;
  transition: background-color 0.3s ease;
  &:hover {
    color: white;
    background-color: #988468;
  }
  @media only screen and (min-width: 1024px) {
    border: solid 2px #988468;
  }
}

.btn--primary {
  &:hover {
    .icon {
      .arrow::after, .arrow::before {
          background-color: white;
      }
    }
  }
}

.aspect-ratio{
  padding-top: 56.25%;
}

  // Positions & Displays

  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
  }

  .text-center {
    text-align: center;
  }

  .flex {
    display: flex;
  } 

  //Responsive Classes

  .hidden {
    display: none;
  }

  .lg-hidden {
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  .lg-block {
    @media only screen and (min-width: 1024px) {
      display: block;
    }
  }

  // Constraints

  .h-screen {
    height: 100vh;
  }

  .h-full {
    height: 100%;
  }

  .w-full {
    width: 100%;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    width: 90%;
  }

  .z-10 {
    z-index: 10;
  }

  // Paddings

  .py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .py-24 { 
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .my-24 { 
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .pt-24 {
    padding-top: 6rem;
  }

  .pb-12 {
    padding-bottom: 3rem;
  }

  .pb-24 {
    padding-bottom: 6rem;
  }

  .mb-12 {
    margin-bottom: 3rem;
  }

  .mb-24 {
    margin-bottom: 6rem;
  }

  .mr-4 {
    margin-right: 1rem;
  }

  .mr-8 {
    margin-right: 2rem;
  }

  .mt-12 {
    margin-top: 3rem;
  }