
html,
body {
  height: 100%;
}

section {
  min-height: 100%; 
  height: auto !important; 
  height: 100%;
  margin-bottom: 850px;
  @media only screen and (min-width: 1024px) {
    margin-bottom: 538px;
  }
}

main {
  z-index: 20;
}

// HELPERS

body {
  background-color: #f3f3f3;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .responsive-img{
     width: 100%; 
     position: relative; 
    img{ 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
        object-fit: cover; 
        width: 100%;
        height: 100%;
    }
}

//BUTTON STYLES

@mixin btn {
  display: inline-flex; 
  text-align: center; 
  position: relative; 
  text-transform: uppercase;
  padding: 40px 100px;
  cursor: pointer;
  font-size: 50px;
  text-decoration: none;
  align-items: center;
  font-weight: 100;
  @media only screen and (min-width: 1024px) {
    font-size: 15px;
    padding: 5px 15px;
  }
}

.btn {
  @include btn;
}

.btn--primary {
  border: solid 7px #988468;
  color: #988468;
  transition: background-color 0.3s ease;
  &:hover {
    color: white;
    background-color: #988468;
  }
  @media only screen and (min-width: 1024px) {
    border: solid 2px #988468;
  }
}

.btn--primary {
  &:hover {
    .btn-arrow {
      border: solid blue;
    }
  }
}

.btn-arrow {
  border: solid #988468;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 10px 10px 10px 80px;
  transition: transform 0.3s ease;
  @media only screen and (min-width: 1024px) {
    margin: 10px 10px 10px 40px;
    padding: 5px;
    border-width: 0 1.5px 1.5px 0;
  }
}

.aspect-ratio{
  padding-top: 56.25%;
}

  // Positions & Displays

  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
  }

  .text-center {
    text-align: center;
  }

  .flex {
    display: flex;
  } 

  //Responsive Classes

  .hidden {
    display: none;
  }

  .lg-hidden {
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  .lg-block {
    @media only screen and (min-width: 1024px) {
      display: block;
    }
  }

  // Constraints

  .h-screen {
    height: 100vh;
  }

  .h-full {
    height: 100%;
  }

  .w-full {
    width: 100%;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    width: 90%;
  }

  .z-10 {
    z-index: 10;
  }

  // Paddings

  .py-12 {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .py-24 { 
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .my-12 {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .my-24 { 
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .pt-24 {
    padding-top: 96px;
  }

  .pb-12 {
    padding-bottom: 48px;
  }

  .pb-24 {
    padding-bottom: 96px;
  }

  .mb-12 {
    margin-bottom: 48px;
  }

  .mb-24 {
    margin-bottom: 96px;
  }

  .mr-4 {
    margin-right: 16px;
  }

  .mr-8 {
    margin-right: 32px;
  }

  .mt-12 {
    margin-top: 48px;
  }