h1 {
    font-family: 'palatinoLight';
    font-weight: 100;
}

h2 {
    font-family: 'palatinoLight';
    font-weight: 100;
}

.font-avenirBook {
    font-family: 'avenirBook';
}

.font-avenirMedium {
    font-family: 'avenirMedium';
}