.arrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }

.arrow__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    z-index: 10;
}