// Mobile Styles

.mobileHeader {
    position: relative; 
    height: 100vh; 
    display: flex;
    width: 100%;
    @media only screen and (min-width: 1024px) {
        display: none;
    }

    .mobileHero__container {
        width: 100%;
        height: 100%;
        .mobileHero {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .landscapeMobileHero {
                display: none;
                @media only screen and (orientation: landscape) {
                    display: block;
                }
            }

            .portraitMobileHero {
                display: block;
                @media only screen and (orientation: landscape) {
                    display: none;
                }
            }

            
            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .hero-subHeading__container {
                padding-bottom: 1rem;
                @media only screen and (min-width: 768px) {
                    padding-bottom: 5rem;
                    width: 70%;
                }
                @media only screen and (orientation: landscape) {
                    width: 50%;
                    margin-right: 0.625rem;
                }
                .hero-subHeading {
                    font-size: 0.8rem;
                    text-align: center;
                    @media only screen and (min-width: 768px) {
                        font-size: 2rem;
                        margin: 0;
                    }
                    @media only screen and (orientation: landscape) {
                        font-size: 1.375rem;
                    }
                }
            }
        }
    }
}



.mobile-hero__heading {
    z-index: 10;
    line-height: 0.4;
    width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
    @media only screen and (orientation: landscape) {
        padding-top: 4rem;
        width: 50%;
        margin-right: 0;
    }
    .h1a {
        font-size: 1.8rem;
        @media only screen and (min-width: 768px) {
            font-size: 4.375rem;
        }
    }
    .h1b {
        font-size: 2.1rem;
        @media only screen and (min-width: 768px) {
            font-size: 5.625rem;
        }
    }
}

// Desktop Styles

.desktopHeader {
    height: 100vh;
    top: 0;
    position: relative;
    width: 100%;
    display: none;
    z-index: 0;
    @media only screen and (min-width: 1024px) {
        display: block;
    }
}

.desktop-hero__container {
    width: 100%;
    height: 100%;
    position: fixed;
    .desktopHero {
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .hero__heading__container {
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        position: relative;
        height: 100%;
        div {
            width: 50%;
        }
        .heading {
            line-height: 0.3;
        }
        .h1a {
            font-size: 3.25rem;
        }
        .h1b {
            font-size: 5rem;
        }
        hr {
            width: 15%;
            margin-left: 0;
        }
        .para-a {
            color: #1a1a1a;
            font-size: 2rem;
            line-height: 1.2;
            width: 65%;
        }
        .para-b {
            width: 30%;
            line-height: 1.2;
            position: absolute;
            bottom: 0;
            span {
                color:#1b1b1b;
            }
        }
    }
}



// Headroom.js

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }
  .headroom--pinned {
    transform: translateY(0%);
  }
  .headroom--unpinned {
    transform: translateY(-100%);
  }