.mainSection {
    h1 {
        font-size: 112px;
    }
    .line-break {
        width: 40%;
        color: #988468;
        border: solid 1px;
    }
    h2 {
        font-size: 60px;
        line-height: 1.5;
    }
}